.App {
 background-color: #FEA443;
  
}

.App-logo {
  height: 22vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header{
  min-height: 4vh;
  -webkit-app-region: drag; 
}

.App-header button {
  float: right;
  margin: 2px;
  width: 20px;
  height: 10px;
  border: 1px solid #FFFF;
  border-radius: 5px;
  -webkit-app-region: no-drag;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Service {
  background-color: #C9C9C9;
  height: 100vh

}


.Service-Header{
  background-color: #FEA443;
}

.Service-Header button{
  float: right;
}