.App {
  text-align: center;

}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.App label{

  margin-left: -355px;
  color:#C9C9C9 ;
  font-weight: 400;
  margin-top: 9px;
}

.App input ,select  {
  border: 1px solid #FFF;
  width: 400px;
  height: 30px;
  border-radius: 4px;
  outline: none; 
}

.App-bnt {

  border: 1px solid #38F29B;
  width: 200px;
  height: 5vmin;
  border-radius: 4px;
  margin-top: 2%;
  background-color: #38F29B;
  color: #252626;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Service {
  background-color: #C9C9C9;
  height: 100vh

}


.Service-Header{
  background-color: #FEA443;
}

.Service-Header button{
  float: right;
}