* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14.5px;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: #011126;
  border-radius: 20px;
}
